<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/icons/main-icon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>

<body>
    <div class="container">
        <section>
            <span id="welcome-message">Добро пожаловать!</span>
        </section>
        <header id="header">
            <h1>Kvertinum01</h1>
            <nav>
                <a href="/" id="picked">Обо мне</a>
                <a href="/contacts">Контакты</a>
            </nav>
        </header>
        <div class="content">
            <h1 class="title">Привет, меня зовут Матвей</h1>
            <p>Моё основное направление - Backend разработка, но так же отлично владею Javascript, HTML, CSS</p>

            <h2 class="title">Мои проекты</h2>
            <ul>
                <li>
                    <a href="https://github.com/Kvertinum01/vkuserbot">vkuserbot</a>
                    Фреймворк для создания асинхронных ботов на Python
                </li>
                <li>
                    <a href="https://github.com/Kvertinum01/mangabot">mangabot</a>
                    Бот, написанный с помощью vkcringe. Скачивает мангу и создает под каждую главу PDF файл
                </li>
                <li>
                    <a href="https://github.com/Kvertinum01/gomkpbot">gomkpbot</a>
                    Развлекательный бот для дуэлей в чате 1 на 1
                </li>
                <li>
                    <a href="https://github.com/Kvertinum01/webserver">webserver</a>
                    Исходный код этой страницы
                </li>
            </ul>

            <h2 class="title">В разработке</h2>
            <ul>
                <li>
                    <a href="https://github.com/zemlyak-l/vkcringe">vkcringe</a>
                    Создание ботов на Golang
                </li>
            </ul>

            <h2 class="title">Мой стек</h2>
            <ul>
                <li>Python, Golang, Javascript languages</li>
                <li>Postgresql, Sqlite</li>
                <li>Github/Gitlab</li>
                <li>Docker</li>
            </ul>

            <h2 class="title">Статистика</h2>
            <div id="images">
                <a href="https://github-readme-stats.vercel.app/api?username=Kvertinum01&show_icons=true&count_private=true">
                    <img height=150
                            src="https://github-readme-stats.vercel.app/api?username=Kvertinum01&show_icons=true&count_private=true"/>
                </a>
                <a href="https://github-readme-stats.vercel.app/api/top-langs/?username=Kvertinum01">
                    <img height=150
                            src="https://github-readme-stats.vercel.app/api/top-langs/?username=Kvertinum01&layout=compact"/>
                </a>
            </div>
            <div id="images-links">
                <p><a href="https://github-readme-stats.vercel.app/api?username=Kvertinum01&show_icons=true&count_private=true">
                    Stars в Github
                </a></p>
                <p><a href="https://github-readme-stats.vercel.app/api/top-langs/?username=Kvertinum01">
                    Языки, на которых я пишу
                </a></p>
            </div>
        </div>
        <footer>
            <p class="footer-text">
                Github: <a class="link" href="https://github.com/Kvertinum01">github.com/Kvertinum01</a>
            </p>
        </footer>
    </div>
</body>
</html>